@{
  ViewData["Title"] = "Tools";
  ViewData["Desc"] = "Some Little Experimental JavaScript Codes";
}

<section class="pt-page pt-page-4" data-id="tools">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper">
        <h1 class="section-title">Tools</h1>
        <h5 class="section-description">Some Little Experimental JavaScript Codes</h5>
      </div>
    </div>
    <div class="col-sm-6 col-md-12 subpage-block">
      <div class="block-title">
        <h3>Tools</h3>
      </div>
      <div class="timeline">
         <div class="timeline-event te-primary">
          <div class="col-md-12 col-sm-12">
            <h4 class="event-name"><a href="~/Tools/Base64EncoderDecoder">Base64 Encoder & Decoder</a></h4>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <div class="col-md-12 col-sm-12">
            <h4 class="event-name"><a href="~/Tools/ByteCalculator">Byte Calculator</a></h4>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <div class="col-md-12 col-sm-12">
            <h4 class="event-name"><a href="~/Tools/RandomColorGenerator">Random Color Generator</a></h4>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <div class="col-md-12 col-sm-12">
            <h4 class="event-name"><a href="~/Tools/Counter">Counter</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>