<section class="pt-page pt-page-2" data-id="about_me">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper clearfix">
        <h2 class="section-title">Kemal KOLCUOĞLU</h2>
        <h5 class="section-description">DevOps Mühendisi</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
        <div class="my-photo-block tilt-effect">
          <img src="~/images/kemalkolcuoglu.jpg" alt="Kemal Kolcuoğlu">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <h1>Kemal KOLCUOĞLU</h1>
        <p>Bilgisayar Mühendisliği kariyerimde kendimi “DevOps Mühendisi” ve “Çözüm Mimarı” ünvanı ile DevOps kültürüne uygun kurumsal yazılımlar geliştirmeyi ve SaaS odaklı çalışmayı hedeflemekteyim. Lisanslı Satranç ve Yüzme Sporcusuyum. Kendimi geliştirmek en önemli hedefim ve vazgeçilmez motivasyon kaynağımdır.</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
        <ul class="info-list">
          <li><span class="title">Yaş</span><span class="value">23</span></li>
          <li><span class="title">Konum</span><span class="value">İstanbul, TÜRKİYE</span></li>
          <li><span class="title">E-Posta Adresi</span><span class="value"><a href="mailto:kemal@kolcuoglu.net">kemal@kolcuoglu.net</a></span></li>
        </ul>
        <ul class="social-links">
          <li><a class="tip social-button" href="https://github.com/kemalkolcuoglu" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a class="tip social-button" href="https://www.linkedin.com/in/kemalkolcuoglu35465325/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="tip social-button" href="https://www.instagram.com/kemal_kolcuoglu/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a class="tip social-button" href="https://twitter.com/KemalKolcuoglu" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="block-title">
      <h3>Hizmetler</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="service-block">
          <div class="service-info">
            <span><i class="fa fa-server" style="color: #d60b0b; font-size: 72px;"></i></span>
            <h4>Web Uygulamaları</h4>
            <p>ASP.NET MVC, PHP Laravel Framework ve Python Django Framework ile web uygulamaları geliştirebilirim.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="service-block">
          <div class="service-info">
            <span><i class="fa fa-cogs" style="color: #d60b0b; font-size: 72px;"></i></span>
            <h4>DevOps Hizmetleri</h4>
            <p>Sanal Makine Kurulumu (Azure/AWS), Docker Konteyner Yönetimi, CI/CD Entegrasyonu ve Monitoring üzerine birçok araçta hizmet verebilirim.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 subpage-block">
        <div class="service-block">
          <div class="service-info">
            <span><i class="fa fa-id-card" style="color: #d60b0b; font-size: 72px;"></i></span>
            <h4>Süreç Geliştirme</h4>
            <p>Firmanın kurumsallaşma ve süreç geliştirme faaliyetlerinde görev alabilirim</p>
          </div>
        </div>
      </div>
    </div>
    <div class="block-title">
      <h3>Çalışma Hayatım</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3 subpage-block">
        <div class="fun-fact-block gray-bg tilt-effect">
          <i class="menu-icon fa fa-code-fork" style="font-size:48px;"></i>
          <h4>Geliştirilen Proje</h4>
          <span class="fun-value">18</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
        <div class="fun-fact-block">
          <i class="menu-icon fa fa-clock-o" style="font-size:48px;"></i>
          <h4>Çalışılan Süre</h4>
          <span class="fun-value">3000+</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
        <div class="fun-fact-block gray-bg">
          <i class="menu-icon fa fa-code" style="font-size:48px;"></i>
          <h4>Kod Satırı Miktarı</h4>
          <span class="fun-value">20000+</span>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
        <div class="fun-fact-block">
          <i class="menu-icon fa fa-coffee" style="font-size:48px;"></i>
          <h4>Tüketilen Kahve</h4>
          <span class="fun-value">500+</span>
        </div>
      </div>
    </div>
  </div>
</section>
