@{
  ViewData["Title"] = "Özgeçmiş";
  ViewData["Desc"] = "Kemal Kolcuoğlu Özgeçmiş";
}

<section class="pt-page pt-page-3" data-id="resume">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper">
        <h1 class="section-title">Özgeçmiş</h1>
        <h5 class="section-description">1 Yıllık Tecrübe</h5>
      </div>
    </div>
    <div class="col-sm-6 col-md-12 subpage-block">
      <div class="block-title">
        <h3>Deneyim</h3>
      </div>
      <div class="timeline">
        <div class="timeline-event te-primary">
          <h5 class="event-date">Şubat 2020 - Halen</h5>
          <h4 class="event-name">DevOps Mühendisi</h4>
          <span class="event-description">NETAŞ - İSTANBUL</span>
          <p>
            Kandy Business Solutions (KBS - <a href="https://www.kandy.io">Kandy.io</a>) Projesinin; Monitoring, Log Management, Server Configuration ve CI/CD süreçlerinin gerçekleştirilmesinde görev alıyorum. <br>
            <b>Kullanılan Teknolojiler:</b> Python, Bash, AWS, Elasticsearch, Ansible, Jenkins
          </p>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Ocak 2020 - Ocak 2020</h5>
          <h4 class="event-name">DevOps Stajyeri</h4>
          <span class="event-description">NETAŞ - İSTANBUL</span>
          <p>
            Kandy Business Solutions (KBS - <a href="https://www.kandy.io">Kandy.io</a>) Projesinin; Monitoring ve CI/CD süreçlerinin gerçekleştirilmesinde görev aldım. <br>
            <b>Kullanılan Teknolojiler:</b> Prometheus, Jenkins, Ansible
          </p>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Temmuz 2019 - Ocak 2020</h5>
          <h4 class="event-name">Yazılım Geliştirme Stajyeri</h4>
          <span class="event-description">NETAŞ - İSTANBUL</span>
          <p>
            Telekomünikasyon endüstrisinde kullanılan Kandy Business Solution (KBS - <a href="https://www.kandy.io">Kandy.io</a>) projesinde yer aldım. SaaS ve UCaaS odaklı projelerin mimarisinin incelenmesi, geliştirilmesi ve Active Directory, SSO ve Multi-Language gibi modüllere destek verilmesi üzerine görev aldım.<br>
            <b>Yazılım Geliştirme Faaliyetleri:</b> PHP, AngularJS, MySQL, MongoDB
          </p>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Haziran 2018 - Nisan 2019</h5>
          <h4 class="event-name">Yazılım Geliştirici</h4>
          <span class="event-description">Yerel Firmalar - KONYA</span>
          <p>
            Web teknolojileri kullanılarak son kullanıcı ürünlerinin geliştirilmesi görev aldım. Lojistik Otomasyonu ve CMS geliştirdim. Ayrıca E-Fatura ve E-Arşiv Entegrasyonu çalışmalarında destek verdim.<br>
            <b>Yazılım Geliştirme Faaliyetleri:</b> ASP.NET MVC, MySQL, JQuery
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 subpage-block">
      <div class="block-title">
        <h3>Yazılım Yetenekleri</h3>
      </div>
      <div class="skills-info">
        <h4>C#</h4>
        <h4>Python</h4>
        <h4>ASP.NET Core</h4>
        <h4>PHP/Laravel</h4>
        <h4>SQL</h4>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 subpage-block">
      <div class="block-title">
        <h3>DevOps Yetenekleri</h3>
      </div>
      <div class="skills-info">
        <h4>Linux</h4>
        <h4>Prometheus</h4>
        <h4>Docker</h4>
        <h4>Elasticsearch</h4>
        <h4>Jenkins</h4>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 subpage-block">
      <div class="block-title">
        <h3>Sektör Yetenekleri</h3>
      </div>
      <div class="skills-info">
        <h4>Nesneye Yönelik Programlama</h4>
        <h4>Tasarım Desenleri</h4>
        <h4>UML</h4>
        <h4>Network</h4>
        <h4>Süreç Geliştirme</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-12 subpage-block">
        <div class="block-title">
          <h3>Eğitim Bilgileri</h3>
        </div>
        <div class="timeline">
          <div class="timeline-event te-primary">
            <h5 class="event-date">2016 - 2020</h5>
            <h4 class="event-name">Bilgisayar Mühendisliği</h4>
            <span class="event-description">Selçuk Üniversitesi</span>
            <p>Yatay geçiş yaparak geldiğim bu üniversitede lisans eğitimimi tamamladım.</p>
          </div>
          <div class="timeline-event te-primary">
            <h5 class="event-date">2015 - 2016</h5>
            <h4 class="event-name">Bilgisayar Mühendisliği</h4>
            <span class="event-description">İskenderun Teknik Üniversitesi</span>
            <p>İki dönemlik eğitimimi bu üniversitede tamamladım.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 subpage-block">
        <div class="block-title">
          <h3>Sertifika ve Kurslar</h3>
        </div>
        <div class="timeline">
          <div class="timeline-event te-primary">
            <h5 class="event-date">Mayıs 2017</h5>
            <h4 class="event-name">Uygulamalı Beyaz Şapkalı Hacker Temel Eğitimi</h4>
            <span class="event-description">Selçuk SEM</span>
            <p>24 saatlik eğitim</p>
          </div>
          <div class="timeline-event te-primary">
            <h5 class="event-date">Nisan 2017</h5>
            <h4 class="event-name">TÜBİTAK 1601 Üniversitelerde Girişimcilik Sertifika Programı</h4>
            <span class="event-description">Konya Teknokent/Selçuk TTO</span>
            <p>“Girişimci Bireyden Gelişmiş Topluma” adlı proje kapsamında 60 saatlik bir girişimcilik eğitimi</p>
          </div>
          <div class="timeline-event te-primary">
            <h5 class="event-date">Nisan 2017</h5>
            <h4 class="event-name">İnovasyon Eğitimi</h4>
            <span class="event-description">Bi’ Fikir Bi’ Şirket '17 - Salih KESKİN</span>
            <p>İnovasyon Atölyesi kapsamında 3 saatlik eğitim</p>
          </div>
          <div class="timeline-event te-primary">
            <h5 class="event-date">Nisan 2017</h5>
            <h4 class="event-name">Liderlik Eğitimi</h4>
            <span class="event-description">Bi’ Fikir Bi’ Şirket '17 - Meral DAL & Selda DAL</span>
            <p>Liderlik Atölyesi kapsamında 2 saatlik eğitim</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-12 subpage-block">
          <div class="block-title">
            <h3>Gönüllü Çalışmalar</h3>
          </div>
          <div class="timeline">
            <div class="timeline-event te-primary">
              <h5 class="event-date">Aralık 2017 - Ocak 2020</h5>
              <h4 class="event-name">Kampüs Temsilcisi</h4>
              <span class="event-description">Codela</span>
              <p>Codela günümüzün en gerekli öğretilerinden olan yazılım okur-yazarlığı için ortaya çıkmış bir teknogirişimdir. Biz Kampüs Temsilcileri'nin görevi Türkiye geneli etkinliklere katılımlarda bulunmaktır. Ayrıca Codela'nın gelişmesine katkı sağlamaktır.</p>
            </div>
            <div class="timeline-event te-primary">
              <h5 class="event-date">Ekim 2016 - Mayıs 2017</h5>
              <h4 class="event-name">Gönüllü / Yönetim Kurulu Üyesi</h4>
              <span class="event-description">Selçuk Üniversitesi Sinerji Topluluğu</span>
              <p>
                Çeşitli sosyal sorumluluk alanlarında yardım, dayanışma ve gönüllülük esaslarına uygun çalışma yürüten bu toplulukta "Gönüllü" olarak görev aldım ve "Yönetim Kurulu Üyesi" olarak denetimlerde bulundum.<br>
                <b>Toplulukta Yer Aldığım Süre Boyunca Görev Aldığım Çalışma Alanları:</b>
                <ul style="color: #dadada;">
                  <li>Kızılay Kan Bağışı Organizasyonu</li>
                  <li>Kişisel Gelişim Konferansları Organizasyonu</li>
                  <li>Köy Okullarına Yardım Kampanyaları</li>
                  <li>Sokak Hayvanları için Barınma ve Beslenme Kampanyaları</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
