@{
  ViewData["Title"] = "Portföy";
  ViewData["Desc"] = "Kemal Kolcuoglu Portföy";
}

<section class="pt-page pt-page-4" data-id="portfolio">
  <div class="border-block-top-110"></div>
  <div class="section-inner">
    <div class="section-title-block">
      <div class="section-title-wrapper">
        <h1 class="section-title">Portföy</h1>
        <h5 class="section-description">Bütün Projelerim</h5>
      </div>
    </div>
    <div class="col-sm-6 col-md-12 subpage-block">
      <div class="block-title">
        <h3>Yayınlanan Projeler</h3>
      </div>
      <div class="timeline">
        <div class="timeline-event te-primary">
          <h5 class="event-date">Ekim 2019</h5>
          <div class="col-md-3 col-sm-12">
            <img src="~/images/portfoy/nophoto.png" />
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">İş Takip Otomasyonu</h4>
            <span class="event-description">WEB</span>
            <p>
              Diyarbakır menşeili internet ve tanıtım ajansının iş takibi ve kontrolü yönetimi için geliştirilmiş projedir. <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, K-ORM, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Mayıs 2019</h5>
          <div class="col-md-3 col-sm-12">
            <a class="portfolio-img" href="~/images/portfoy/sutfprojeyonetimi.png" target="_blank"><img src="~/images/portfoy/sutfprojeyonetimi.png" alt="SÜ-TF Proje Yönetimi" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">Proje Yönetim Otomasyonu</h4>
            <span class="event-description">WEB</span>
            <p>
              Selçuk Üniversitesi Teknoloji Fakültesi Bilgisayar Mühendisliği Web Programlama dersi kapsamında; bölüm proje derslerinin yönetilmesi, öğrenciakademisyen iletişiminin kolaylaştırılması ve projelerin proje pazarında sunumunu sağlamak amacıyla geliştirilmiştir.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, K-ORM, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Mayıs 2019</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/mitratur.png" target="_blank"><img src="~/images/portfoy/mitratur.png" alt="Mitra Tur" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">Mitra Tur Kurumsal Web Sitesi ve E-Ticaret Portalı</h4>
            <span class="event-description">WEB</span>
            <p>
              Diyarbakır menşeili etkinlik ve tur organizasyon firması olan Mitra Tur için oluşturulmuş web tabanlı E-Ticaret portalı ve online bilet satış otomasyon yazılımı. <b>HİZMET SONLANDIRILDI</b> <br /><br />
              <b>Kullanılan Teknolojiler:</b> ASP.NET MVC, JQuery, Entity Framework, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Nisan 2019</h5>
          <div class="col-md-3 col-sm-12">
            <img src="~/images/portfoy/nophoto.png" />
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">QR Web Servis</h4>
            <span class="event-description">WEB</span>
            <p>
              QR Yazılım adına firmanın şirket içi projelerinde kullanılmak üzere geliştirilmiştir. <br /><br />
              <b>Kullanılan Teknolojiler:</b> ASP.NET, ASMX
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Mart 2019</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/dinamikbilgisayar.png" target="_blank"><img src="~/images/portfoy/dinamikbilgisayar.png" alt="Dinamik Bilgisayar" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">Dinamik Bilgisayar Kurumsal Web Sayfası</h4>
            <span class="event-description">WEB</span>
            <p>
              QR Yazılım adına geliştirilmiş olan İçerik Yönetim Sistemi kullanılarak oluşturulmuş kurumsal web sayfası.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, K-ORM, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Şubat 2019</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/mapos.png" target="_blank"><img src="~/images/portfoy/mapos.png" alt="Mapos Çamur Pompaları" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">Mapos Çamur Pompaları Kurumsal Web Sayfası</h4>
            <span class="event-description">WEB</span>
            <p>
              QR Yazılım adına geliştirilmiş olan İçerik Yönetim Sistemi kullanılarak oluşturulmuş kurumsal web sayfası.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, K-ORM, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Ocak 2019</h5>
          <div class="col-md-3 col-sm-12">
            <img src="~/images/portfoy/nophoto.png" />
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">Blockchain Tabanlı Tedarik Zinciri Otomasyonu</h4>
            <span class="event-description">WEB</span>
            <p>
              Endüstri Müh. ve Bilgisayar Müh. bölümlerindeki akademik personellerin danışmanlığında Bitirme Projesi kapsamında geliştirilen tedarik zinciri yönetimini blockchain teknolojisi kullanarak gerçekleştirmek için geliştirilmiş web tabanlı yazılımdır. <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, Entity Framework, SQL Server
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Ocak 2019</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/qrfatura.png" target="_blank"><img src="~/images/portfoy/qrfatura.png" alt="QR Fatura" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">QR Fatura</h4>
            <span class="event-description">WEB</span>
            <p>
              QR Yazılım adına geliştirilmiş; Quark Ticari Muhasebe Uygulamasını kullanan carilerin kullanıcılarına ait E-Fatura ve E-Arşiv Fatura görüntülenmesi için geliştirilmiş web tabanlı yazılımdır.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, K-ORM, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Aralık 2018</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/qrnakliye.png" target="_blank"><img src="~/images/portfoy/qrnakliye.png" alt="QR Nakliye" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">QR Nakliye</h4>
            <span class="event-description">WEB</span>
            <p>
              QR Yazılım adına geliştirilmiş; nakliyat işlemlerinin yönetimi, raporlanması ve muhasebeleşmesi için kullanılan web tabanlı yazılımdır.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, K-ORM, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Kasım 2018</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/korm.png" target="_blank"><img src="~/images/portfoy/korm.png" alt="K-ORM" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name"><a href="https://github.com/kemalkolcuoglu/K-ORM" target="_blank">K-ORM</a></h4>
            <span class="event-description">KÜTÜPHANE</span>
            <p>
              C# için veritabanı manipülasyon işlemlerinin gerçekleşmesi için ADO.NET Provider ve System.Reflection kütüphanesi kullanılarak geliştirilmiş object relational mapping kütüphanesi.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> C#, System.Reflection, ADO.NET, MySQL, SQL Server
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Ekim 2018</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/sinerjikurumsal.png" target="_blank"><img src="~/images/portfoy/sinerjikurumsal.png" alt="Sinerji Kurumsal" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">Sinerji Kurumsal Web Sitesi</h4>
            <span class="event-description">WEB</span>
            <p>
              Ankara menşeili etkinlik organizasyon firması Sinerji Kurumsal adına geliştirilmiş kurumsal kimlik web sitesi.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> ASP.NET MVC, JQuery, Entity Framework, MySQL
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Şubat 2018</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/apartmanyonetim.png" target="_blank"><img src="~/images/portfoy/apartmanyonetim.png" style="width:90%;" alt="KY - Apartman Yönetim Sistemi" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name"><a href="https://github.com/kemalkolcuoglu/Apartman-Yonetim-Sistemi" target="_blank">Apartman/Site Yönetim Sistemi</a></h4>
            <span class="event-description">DESKTOP</span>
            <p>
              Konya Bahçeşehir Konutları 3. Etap Sitesi için talep üzerine geliştirilmiş projedir.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> C#, WinForms, ADO.NET, MS Access
            </p>
          </div>
        </div>
        <div class="timeline-event te-primary">
          <h5 class="event-date">Aralık 2017</h5>
          <div class="col-md-3 col-sm-12">
            <a href="~/images/portfoy/webrtc.png" target="_blank"><img src="~/images/portfoy/webrtc.png" alt="WebRTC Tabanlı Ders Otomasyonu" /></a>
          </div>
          <div class="col-md-9 col-sm-12">
            <h4 class="event-name">WebRTC Tabanlı Ders Otomasyonu</h4>
            <span class="event-description">WEB</span>
            <p>
              Sanal ortamda öğrencilerin eğitmenlerle internet tarayıcısı üzerinden ders işleyebilmesi için Dönem Projesi kapsamında geliştirilen web tabanlı yazılımdır.  <br /><br />
              <b>Kullanılan Teknolojiler: </b> JavaScript, WebRTC
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>